{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div>
            <div class="buttonInLk">
                <a href="{% url 'catalogapp:product' %}">В товары</a>
            </div>

            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {#            {% if user.userprofile.avatar %}#}

                {#            {% endif %}#}
                <input class="form-control" type="submit" value="Сохранить">
            </form>
        </div>
    </div>

{% endblock %}
